<div id="messages">
	<span class="welcome_box background_grey">
		social mapper is totally uhhhhhh google map sub-feature no one uses.
	</span>
	<br />
	<span class="welcome_box background_orange italics">
		i've got no more secrets. get on with it.
	</span>
	<br />
	<span class="welcome_box background_orange italics">
		yeaaaahh <%= link_to 'create a new map', new_map_path %>
	</span>
</div>

<h1>these are my maps. ugh. they're heavy.</h1>

<% @maps.each do |map| %>
<div><span class="themed_entry"><%= link_to map.name, map %></span></div>
<% end %>
<br />
